* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
}
.grid-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  padding: 5px;
  position: relative;
}
.grid > div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shooter img {
  min-width: 40px;
  min-height: 40px;
}
.baloon img {
  width: 85px;
  height: 75px;
  z-index: 2;
}
.toxic img {
  width: 85px;
  height: 75px;
}
.shot img {
  width: 40px;
  height: 40px;
  z-index: 2;
}
.startBtn
{
  margin-top: 30vh;
  font-size: 25.5px;
  height: 12vh;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid green;
  margin-bottom: 15px;
}
.grid > p
{
  width: 100%;
  font-size: 18.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;
  height: 22px;
  margin-top: 0;
  padding-left: 15%;
  padding-right: 15%;
}
.grid {
  background-image: url('../style/background.jpeg');
  font-size: 20.5px
}
.score
  {
    width: 60px;
    height: 30px;
    float: left;
    position: absolute;
    top: 0;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25.5px;
    padding: 5%;
    z-index: 2;
  }
  .timer
  {
    width: 65px;
    height: 30px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25.5px;
    padding: 5%;
    z-index: 2;
    
  }
  .smoke img
  {
    width: 50px;
    height: 40px;
  }