* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
}
.grid-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center;
  padding-top: 15px; */
}
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
  justify-content: center;
  height: 600px;
  width: 600px;
  padding: 5px;
  position: relative;
  background-image: url('../style/sky6.jpeg');
  font-size: 20.5px

}

.frontPage > p
  {
    width: 100%;
    font-size: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: auto;
    padding-left: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  .p1
  {
    
    position: absolute;
    bottom: 105px;
    left: 0;
  }
  .p2
  {
    
    position: absolute;
    bottom: 75px;
    left: 0;
  }
  .p3
  {
    
    position: absolute;
    bottom: 45px;
    left: 0;
  }
.grid > div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shooter img {
  min-width: 50px;
  min-height: 50px;
}
.baloon img {
  width: 60px;
  height: 65px;
}
.toxic img {
  width: 60px;
  height: 65px;
}
.shot img {
  width: 40px;
  height: 30px;
}
.startBtn
{
  font-size: 25.5px;
  height: 12vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid green;

}

.defeat, .victory
  {
    font-size: 25.5px;
    height: 12vh;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid green;
    margin-bottom: 15px;
  }

.score
  {
    width: 60px;
    height: 30px;
    float: left;
    position: absolute;
    top: 0;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25.5px;
    padding: 5%;
    
  }

  .timer
  {
    width: 65px;
    height: 30px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25.5px;
    padding: 5%;

  }
  .smoke img
  {
    width: 50px;
    height: 40px;
  }

  .space
  {
    width: 14vh;
    height: 14vh;
    float: left;
    position: absolute;
    top: 9vh;
    left: 10vw;

  }
  .keyUp
  {
    width: 7vh;
    height: 7vh;
    float: left;
    position: absolute;
    top: 9vh;
    right: 10vw;
  }
  .keyDown
  {
    width: 7vh;
    height: 7vh;
    float: left;
    position: absolute;
    top: 18vh;
    right: 10vw;
  }
  .frontPage
  {
    display: block;
    float: left;
  }