* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
}
.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  padding: 5px;
}
.grid > div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shooter img {
  min-width: 40px;
  min-height: 40px;
}
.baloon img {
  width: 85px;
  height: 75px;
  z-index: 2;
}
.toxic img {
  width: 85px;
  height: 75px;
}
.shot img {
  width: 40px;
  height: 40px;
  z-index: 2;
}
.startBtn
{
  margin-top: 40vh;
  font-size: 20.5px;
  height: 9vh;

}
.grid > p
{
  width: 100%;
  font-size: 17.5px;
  display: block;
  padding-left: 25%;
  padding-right: 25%;
  float: left;
  height: 22px;
  padding-left: 15%;
  padding-right: 15%;
}
.grid {
  background-image: url('../style/background.jpeg');
  font-size: 20.5px
}

.score-board
{
  width: 200px;
  z-index: 1;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
